<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>Home page</h1>
    <h2> Your Email:
        <span style="color:blueviolet">
            <%=user.email%>
        </span>
    </h2>
    <h2> Your Name:
        <span style="color: red;">
            <%=user.displayName%>
        </span>
    </h2>
    <form action="/update/name" method="post">
        <!-- enctype="multipart/form-data" -->
        Avatar:
        <input type="file" name="avatar">
        <br>
        <br>
        <label for="displayname">
            <span>Display Name:</span>
            <input type="text" name="displayName" placeholder="Please input your name">
        </label>
        <button type="submit">Submit</button>
    </form>
    <form action="/rooms/create" method="post">
        <button type="submit">Create Room</button>
    </form>
</body>

</html>