html,
body {
    background-color: burlywood;
}

.flex {
    display: flex;
}

#canvas {
    position: relative;
}

.color {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: 2px solid #000;
    display: inline-block;
}

.chat-wraper {
    background-color: antiquewhite;
    margin-left: 10px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-answer {
    height: 30px
}