html,
body {
    background-color: burlywood;
}

.flex {
    display: flex;
}

#canvas {
    position: relative;
}

.color {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: 2px solid #000;
    display: inline-block;
}